.heroSection {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03021d 80%),
    url("../../assets/images/interstellar-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  height: 1200px; /* 원하는 높이 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #03021d;
}

.heroContent {
  width: 90%;
  height: 630px;
  margin-top: 64px;
}

.heroHeaderContent {
  margin-bottom: 270px;
}

.heroHeaderTitle {
  margin: 0;
  color: white;
  font-family: "Chronicle Display";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
}

.heroMiddleContent {
  height: 335px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialContainer {
  color: white;
}

.socialText {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 1.2rem;
  margin: 0;
  writing-mode: vertical-lr;
  width: 1rem;
}

.titleContent {
  color: white;
}

.subTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fbd784;
}

.rectangle {
  width: 4rem;
  height: 0.125rem;
  margin-right: 2rem;
  background-color: #fbd784; /* 색 안 넣으면 보이지 않을 수도 있어 */
}

.subTitle {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
}

.maintTitleContainer {
  font-family: "Castoro";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  margin: 2rem 0;
}

.maintTitleContainer h1 {
  margin: 0;
}

.scrollDown {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
}

.arrowDown {
  margin-left: 1rem;
  height: 1.5rem;
  width: 1rem;
}
