.card {
  display: flex;
  width: 75vw;
  height: 80vh;
  flex-direction: row;
  justify-content: space-between;
}

.reverse {
  flex-direction: row-reverse;
}

.textContainer {
  flex: 1;
  margin-top: 2rem;
  position: relative;
}

.indexContainer {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 200px;
  opacity: 0.1;
  line-height: 100%;
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: -1;
}

.mainContent {
  color: white;
  margin: 0 10vw 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.subTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fbd784;
}

.rectangle {
  width: 6rem;
  height: 0.125rem;
  margin-right: 2rem;
  background-color: #fbd784; /* 색 안 넣으면 보이지 않을 수도 있어 */
}

.subTitle {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
}

.maintTitleContainer {
  font-family: "Chronicle Display Semi";
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
}

.maintTitleContainer h1 {
  margin: 0;
}

.summaryContainer {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

.readMore {
  font-family: "Gilroy";
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #fbd784;
}

.posterContainer {
  display: flex;
}

.poster {
  height: auto;
  max-width: 30vw;
  max-height: 80vh;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: rem;
  margin-bottom: 0.5rem;
}

.genre {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.viewMore {
  padding: 0.5rem 1rem;
  background-color: #fbd784;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
